<header>
            <div class="row">
                <div class="col-md-12">
                    <div class="header_area_text">
                        <h2>Hidden Gems in the City.</h2>
                        <p>Help us create adventures. Different hunts dedicated to your city.</p>
                        <a href="#" >Hunting Season!</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header top area -->


    <section id="features_area" class="section_padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>How we work?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="single_feature">
                        <i class="zmdi zmdi-cake"></i>
                        <h3>Prize?</h3>
                        <p> Of course! Whats the point of hunting if you return without a trophy? Complete these hunts and theres a prize at the end.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_feature">
                        <i class="zmdi zmdi-google-earth zmdi-hc-spin"></i>
                        <h3>Local</h3>
                        <p>Our hunts are catered to your city. There are a lot of nooks and crannies in these streets,<br> WIN THE WORLD!
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_feature">
                        <i class="zmdi zmdi-border-color"></i>
                        <h3>Personal touch</h3>
                        <p>Complete our lists or create your own! Special occasion dedicate a hunt to it. Just for fun? That's cool too, categories for everyone!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end features area -->

<!-- example lists -->
    <section id="story_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="experience">
                    <div class="wrapper">
  <div class="tile job-bucket">
    <div class="front">
      <div class="contents">
        <img src="http://activerain.com/image_store/uploads/2/4/3/1/1/ar121091071711342.jpg" height="175px" width="300px"/>
        <h3>Win<br> Charlotte</h3>
        <p style="color: black">New to the area? Visit some of these local spots for a taste of Charlotte.</p>
        <br>
        <ol>
          <li>Take a picture in front of a Panther statue at BOA Stadium</li>
          <li>Take a ride on the Charlotte Gold Line streetcar</li>
          <li>Take a picture with Queen Charlotte at the airport</li>
          <li>Visit the NASCAR hall of fame and pose with Richard Petty’s 43 car.</li>
          <li>Take a Center City Carriage Tour</li>
          <li>Visit Discovery Place and lie on the bed of nails!</li>
          <li>Have a picnic in Freedom Park</li>
          <li>Ride the Fury 325 Roller Coaster at Carowinds</li>
          <li>Take a selfie with one of the “guests” at the Carolina Raptor Center</li>
          <li>Visit the Blumenthal Performing Arts Theatre</li>
      </ol>
        <!-- <a href="#">View Challenge</a> -->
      </div>
    </div>
    <!-- <div class="back">
      <h3>Win Charlotte</h3> -->

    </div>
  </div>
  <div class="tile job-bucket">
    <div class="front">
      <div class="contents">
        <img src="http://www.gannett-cdn.com/-mm-/be2c7c6d9b97a301e968ba103ffe84cb4d60233d/c=174-0-2826-1996&r=x513&c=680x510/local/-/media/USATODAY/GenericImages/2013/09/24/1380050762000-Abita-beer-in-glasses-on-tasting-room-bar.jpg" height="175px" width="300px"/>
        <h3>Charlotte Brewery Tour</h3>
        <p style="color: black">Like beer? SO DO WE!!<br> Sample some of the best of Charlotte’s craft beer selection below:</p>
        <br>
        <ol>
            <li>Sycamore Brewing</li>
            <li>NoDa Brewery</li>
            <li>Olde Mecklenburg Brewery</li>
            <li>Heist Brewery</li>
            <li>VBGB Beer Hall</li>
            <li>Growlers Pour House</li>
            <li>Bird Song Brewing Company</li>
            <li>Wooden Robot Brewery</li>
            <li>Sugar Creek Brewery</li>
            <li>Triple C Brewing Co.</li>
        </ol>
        <!-- <a href="#">View Challenge</a> -->
      </div>
    </div>
    <!-- <div class="back">
      <h3>Brewery Tour</h3> -->

    </div>
  </div>
  <div class="tile job-bucket">
    <div class="front">
      <div class="contents">
        <img src="http://www.rusanscharlotte.com/wp-content/uploads/IMG_2589-400x252.jpg" height="175px" width="300px"/>
        <h3>Foodie<br> Challenge</h3>
        <p style="color: black">Win the food war and eat some of Charlotte's best!</p>
        <br>
        <ol>
            <li>Thai Red Curry- Thai Taste, East blvd. </li>
            <li>Mussels- Roosters, Morrison blvd. </li>
            <li>BBQ - Saucemans, West blvd. </li>
            <li>Fried Chicken- prices chicken coup, Camden rd. </li>
            <li>Charcuterie (meat and cheese platter)-Stagioni , Providence </li>
            <li>Garlic Naan and Curry- Copper Indian Restaurant, East blvd </li>
            <li>Burgers- cowbell, north trying street </li>
            <li>Hot Dogs- JJ Red Hots, east blvd. </li>
            <li>Banana Cream Pie- 131 Main. , East Blvd</li>
            <li>Pastries- Sunflour Bakery, 7th street</li>
            <li>Sushi- Ru Sans , Park Rd.</li>
        </ol>
    </div>
        <!-- <a href="#">View Challenge</a> -->
      </div>
    </div>
    <!-- <div class="back">
      <h3>Foodie Challenge</h3> -->

  </div>
</div>
</div>


    </section>
    <!-- end of story area -->


    <!-- <section id="clients_say_area" class="section_padding">
        <div class="container">
            <div class="row">
               <div class="col-md-6">
                    <div class="experience">
                        <h2>Categories</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                        <a href="">View case studies</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills">
                       <h2>Skills</h2>
                        <div class="skill_right">

                            <p>C++ development</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    60%
                                </div>
                            </div>

                            <p>Photoshop</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    60%
                                </div>
                            </div>

                            <p>.Net</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    60%
                                </div>
                            </div>

                            <p>Argular js</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    60%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- end experience area -->
<!-- start About us section-->
    <section id="Experience_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="story_image">
                        <img src="http://i.imgur.com/6ftIabD.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="story_text">
                        <h2>Our Short Story</h2>
                        <p>Team Viper from Tech Talent South Charlotte created Win the World as a class project.This application was built and styled through Ruby on Rails by a team of 5 awesome students. </p>
                        <p>We knew we had a great idea that was bigger than just a class project- so when graduated from TTS we launched the site live. Now it is so popular that there are more people in Charlotte using Win the World than Facebook! Crazy! We plan to open more cities within the next year because of all the attention and money being thrown at us. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- end About us ended -->
<!-- begin review section -->
    <section id="blog_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single_blog">
                        <img class="img-responsive" src="http://i.imgur.com/teqtJ2B.jpg" alt="">
                        <h2>Scavenger was the most fun I've ever had in my life!</h2>
                        <div class="comment_area fix">
                            <div class="comment floatright">
                            </div>
                        </div>
                        <p>I'm a pretty typical guy- I just graduated from college and I am an esteemed fraternity brother of Delta Psi.. the greatest brotherhood known to man. I never thought I would have that much fun again until Teddy told me about Win the World. MIND BLOWN- You have to try this.. AMAZEBALLS.  </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_blog">
                        <img id= "review-image" class="img-responsive" src="https://pbs.twimg.com/profile_images/3364071583/240dadb6289bb6875703265db09c288c_400x400.png">
                        <h2>I met my future husband through scavenger!</h2>
                        <div class="comment_area fix">
                            <div class="comment floatright">
                            </div>
                        </div>
                        <p>I knew I would meet him somewhere super fun and special... we were destined to be the perfect couple after all! I went with some girlfriends and that's when I saw him- he didn't talk to me but I know FOR SURE that he is the one- he'll know soon enough too- Thanks Scavenger for making my dreams come true!</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_blog">
                        <img class="img-responsive" src="http://www.liveforfilms.com/wp-content/uploads/2015/03/unfinished-business-stock-9.jpg" alt="">
                        <h2>I don't usually like people.. but this was tolerable. </h2>
                        <div class="comment_area fix">
                            <div class="comment floatright">
                            </div>
                        </div>
                        <p>Generally I hate people on principle, they are loud and generally in my way. But my sister's birthday was happening and after I forgot about it last year there was no way around this party. So they forced me to go on this tour.. and I was surprised at how enjoyable it was.. and I got a new t-shirt. It's actually a good t-shirt too- so Ill consider doing this again if I have to be in another social environment.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end review area -->

    <section id="call_to_action">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="call_to_action_text">
                        <h2>Are you ready to go?</h2>
                        <p>Scavenger is FREE to try <br> just hit 'Let's Go' to see your first list!</p>
                        <div class= "getstarted">
                          <a href="">Let's Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end call to action area -->
