<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
       <h1> Win The World </h1>
       <p> find new hangouts, meet new people, and win prizes doing it. </p>
      </div>
</div>
<div class="neighborhood-guides">
      <div class="container">
       <h2> Neighborhood Guides </h2>
       <p>Not sure where to stay? We've created neighborhood guides for cities all around the world</p>
       <div class="row">
          <div class= "col-md-4">
            <div class="thumbnail">
                <img src="http://goo.gl/0sX3jq">
            </div>
            <div class="thumbnail">
                <img src="http://goo.gl/an2HXY">
            </div>
          </div>

          <div class="col-md-4">
               <div class="thumbnail">
                   <img src="http://goo.gl/Av1pac">
               </div>
               <div class="thumbnail">
                   <img src="http://goo.gl/vw43v1">
               </div>
          </div>

          <div class="col-md-4">
           <div class="thumbnail">
               <img src="http://goo.gl/0Kd7UO">
           </div>
          </div>
       </div>
      </div>
   </div>
   <div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
  <h3>Find Your Perfect List</h3>
  <p>Win the World offers a variety of lists dependent upon your occasion. Choose a birthday, sports themed, food lovers, bachelor/bachelorette, or explore the city list. </p>
  <p>
      <a href= "#">See the list</a>
  </p>
  </div>
<div class="col-md-4">
  <h3>Complete Tasks with Ease</h3>
  <p> When you are finishing up a list item take a photo on instagram and use the hashtag listed with item- that will mark that task complete!</p>
  <p>
      <a href= "#">See some completed tasks</a>
      </p>
  </div>
  <div class="col-md-4">
      <h3> Find New Favorite Spots & Earn Prizes</h3>
      <p> Everytime you complete a list you win a prize! Check out some of our winners!</p>
      <p>
      <a href= "#">Winners</a></p>
    </div>
    </div>
  </div>
</div>
</body>
</html>
